@page "/create"
@using VibeCheck.Model.ViewModels
@inject NavigationManager Navigation
@inject HttpClient Http

<h3>Create a New Survey</h3>
<p>Enter your question:</p>
<input @bind="question" placeholder="Enter your question" />
<button @onclick="NewSurvey">Submit</button>



@code {
    private string question;

    private async Task NewSurvey()
    {
        var response = await Http.PostAsJsonAsync($"http://localhost:5183/survey/create", new SurveyRequest{Question = question});
        var result = await response.Content.ReadFromJsonAsync<Survey>();
        Navigation.NavigateTo($"/{result.Code}");
    }
}