.feeling {
    position: absolute;
    transition-duration: 0.3s;
}

.hover {
    transform: scale(1.1);
    z-index: 1;
}

svg text{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}