.feelings-wheel {
    position: relative;
    width: 700px;
    height: 700px;
    border-radius: 50%;
    margin: auto;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
}