@using VibeCheck.Model.Utilities
@using Microsoft.Extensions.Configuration
@using VibeCheck.Model.ViewModels
@inject IConfiguration Configuration
@inject HttpClient Http

<div class="feelings-wheel">
    @foreach (var tile in _tiles)
    {
        <EmotionTile Feeling="tile.Key" Tile="tile.Value" OnClick="() => OnFeelingSelected(tile.Key)" />
    }
</div>

@code {
    [Parameter]
    public EventCallback<Feeling> onFeelingSelected { get; set; }

    private List< Feeling> _allFeelings = [];
    
    private Dictionary<Feeling, EmotionTile.FeelingTileModel> _tiles = new();

    protected override async Task OnInitializedAsync()
    {
        var response = await Http.GetFromJsonAsync<List<Feeling>>($"/survey/feelings");
        if (response != null)
        {
            _allFeelings = response;
            _tiles = SizeTiles();
        }
    }

    private async Task OnFeelingSelected(Feeling feeling)
    {
        if (onFeelingSelected.HasDelegate)
        {
            await onFeelingSelected.InvokeAsync(feeling);
        }
    }
    
    private Dictionary<Feeling, EmotionTile.FeelingTileModel> SizeTiles()
    {
        var result = new Dictionary<Feeling, EmotionTile.FeelingTileModel>();
        
        var totalFeelingCount = _allFeelings.Count;
        var feelingCounts = new Dictionary<Feeling, int>();
        foreach (var feeling in _allFeelings)
        {
            feelingCounts[feeling] = 0;
        }

        
        foreach (var feeling in _allFeelings)
        {
            var currentFeeling = feeling;
            do
            {
                feelingCounts[currentFeeling]++;
                currentFeeling = currentFeeling.Parent;
            } while (currentFeeling is not null);
        }
        
        var feelingStartingAngle = new Dictionary<Feeling, double>();
        var feelingMaxSize = new Dictionary<Feeling, double>();
        var innerRadius = 25;
        var outerRadius = 100;
        for (var order = 0; order < 3; order++)
        {

            var orderFeelings = feelingCounts.Select(x => x.Key).Where(x => x.Depth == order);
            foreach (var group in orderFeelings.GroupBy(x => x.Parent))
            {
                var parentFeeling = group.First().Parent;
                var startAngle = parentFeeling == null ? 0 :feelingStartingAngle[parentFeeling];
                var maxSize = parentFeeling == null ? 1 :feelingMaxSize[parentFeeling];
                var parentCount = parentFeeling == null ? totalFeelingCount : feelingCounts[parentFeeling];
                foreach (var feeling in group)
                {
                    var size = ((double)feelingCounts[feeling] / parentCount) * maxSize;
                    feelingStartingAngle[feeling] = startAngle;
                    feelingMaxSize[feeling] = size;
                    result[feeling] = new EmotionTile.FeelingTileModel(
                        Angle.FromRatio(startAngle), 
                        Angle.FromRatio(startAngle+size), 
                        innerRadius, 
                        outerRadius);
                    startAngle+=size;
                }
            }

            innerRadius = outerRadius;
            outerRadius += 100;
        }

        return result;
    }
}