@using VibeCheck.Model.Utilities
@using VibeCheck.Model.ViewModels
@inject HttpClient Http

<div class="feelings-wheel">
    @foreach (var tile in _tiles)
    {
        <ResultTile Feeling="tile.Key" Tile="tile.Value" />
    }
</div>

@code {
    [Parameter]
    public List<SurveyResponse> Responses { get; set; }

    private Dictionary<Feeling, ResultTile.FeelingTileModel> _tiles = new();
    private Dictionary<(string, int), Feeling> _allFeelings = new();


    protected override async Task OnInitializedAsync()
    {
        var response = await Http.GetFromJsonAsync<List<Feeling>>($"http://localhost:5183/survey/feelings");
        if (response != null)
        {
            _allFeelings = response.ToDictionary(x => (x.Name, x.order));
            _tiles = SizeTiles();
            
        }
    }

    private Dictionary<Feeling, ResultTile.FeelingTileModel> SizeTiles()
    {
        var result = new Dictionary<Feeling, ResultTile.FeelingTileModel>();
        
        //This should use responses not all feelings
        var totalFeelingCount = _allFeelings.Count;
        var feelingCounts = new Dictionary<Feeling, int>();
        foreach (var feeling in _allFeelings.Values)
        {
            feelingCounts[feeling] = 0;
        }

        
        foreach (var feeling in _allFeelings.Values)
        {
            var currentFeeling = feeling;
            do
            {
                feelingCounts[currentFeeling]++;
                currentFeeling = currentFeeling.Parent == null ? null : _allFeelings[(currentFeeling.Parent, currentFeeling.order -1)];
            } while (currentFeeling is not null);
        }
        
        var feelingStartingAngle = new Dictionary<string, double>();
        var feelingMaxSize = new Dictionary<string, double>();
        var innerRadius = 25;
        var outerRadius = 100;
        for (var i = 0; i < 3; i++)
        {

            var orderFeelings = feelingCounts.Where(x => x.Key.order == i).Select(x => x.Key);
            foreach (var group in orderFeelings.GroupBy(x => x.Parent))
            {
                var parentFeeling = group.First().Parent;
                var startAngle = parentFeeling == null ? 0 :feelingStartingAngle[parentFeeling];
                var maxSize = parentFeeling == null ? 1 :feelingMaxSize[parentFeeling];
                var parentCount = parentFeeling == null ? totalFeelingCount : feelingCounts[_allFeelings[(parentFeeling, i-1)]];
                foreach (var feeling in group)
                {
                    var size = ((double)feelingCounts[feeling] / parentCount) * maxSize;
                    feelingStartingAngle[feeling.Name] = startAngle;
                    feelingMaxSize[feeling.Name] = size;
                    result[feeling] = new ResultTile.FeelingTileModel(
                        Angle.FromRatio(startAngle), 
                        Angle.FromRatio(startAngle+size), 
                        innerRadius, 
                        outerRadius);
                    startAngle+=size;
                }
            }

            innerRadius = outerRadius;
            outerRadius += 100;
        }

        return result;
    }
}