<div >
    @foreach (var feeling in _feelings)
    {
    }
        <PathFeeling Feeling="_feelings[0]" Ratio="0.2"/>
        <PathFeeling Feeling="_feelings[1]" Ratio="0.4"/>
        <PathFeeling Feeling="_feelings[2]" Ratio="0.6"/>
        <PathFeeling Feeling="_feelings[3]" Ratio="0.8"/>
        <PathFeeling Feeling="_feelings[4]" Ratio="0.9"/>
</div>

@code {
    private List<FeelingModel> _feelings =  new()
    {
        new("Anger", "#ff595e", null),
        new("Fear", "#ffca3a", null),
        new("Sad", "#8ac926", null),
        new("Disgust", "#1982c4", null),
        new("Happy", "#6a4c93", null),
    };
}