<div class="feelings-wheel">
    @foreach (var feeling in _feelings)
    {
        <PrimaryEmotionTile Feeling="feeling" Tile="_tiles[feeling.Name]"/>
    }
</div>

@code {

    private List<FeelingModel> _feelings = new()
    {
        new("Anger", null),
        new("Fear", null),
        new("Sad", null),
        new("Disgust", null),
        new("Happy", null),
    };

    static double primaryInnerRadius = 25;
    static double primaryOuterRadius = 100;
    
    
    private Dictionary<string, FeelingTileModel> _tiles = new()
    {
        { "Anger", new FeelingTileModel(Angle.FromRatio(0), Angle.FromRatio(0.3), primaryInnerRadius, primaryOuterRadius, "#ff595e") },
        { "Fear", new FeelingTileModel(Angle.FromRatio(0.3), Angle.FromRatio(0.5), primaryInnerRadius, primaryOuterRadius, "#ffca3a") },
        { "Sad", new FeelingTileModel(Angle.FromRatio(0.5), Angle.FromRatio(0.7), primaryInnerRadius, primaryOuterRadius, "#8ac926") },
        { "Disgust", new FeelingTileModel(Angle.FromRatio(0.7), Angle.FromRatio(0.8), primaryInnerRadius, primaryOuterRadius, "#1982c4") },
        { "Happy", new FeelingTileModel(Angle.FromRatio(0.8), Angle.FromRatio(1), primaryInnerRadius, primaryOuterRadius, "#6a4c93") },
    };

}